* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monda", sans-serif;
}

h3 {
  margin-left: 20px;
  padding-top: 20px;
  font-size: 35px;
}

h3 a {
  color: black;
  text-decoration: none;
}

ul {
  font-size: 20px;
  position: fixed;
  list-style: none;
  top: 40%;
  right: 3%;
  text-align: right;
  cursor: pointer;
  z-index: 200000000000000000;
}
li {
  padding: 5px;
}
.tomaincopy {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: "Six Caps", sans-serif;
  position: fixed;
  bottom: 20px;
  right: 3%;
}

#text-copy {
  height: 40vh;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 80%;
  top: 40%;
  margin-left: calc(50% - 40%);
  display: none;
}

#close {
  display: none;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  font-weight: bold;
  padding: 5px 12px;
  position: fixed;
  right: 3%;
  top: 25%;
  z-index: 10;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  margin: auto;
  width: 90%;
}

.gallery img {
  width: 320px;
  margin: 40px 0;
  object-fit: cover;
}

.comeback {
  color: black;
  display: block;
  text-align: center;
}

hr {
  display: none;
}

@media (min-width: 768px) {
  h3 {
    font-size: 60px;
  }

  ul {
    font-size: 24px;
  }

  .tomaincopy {
    font-size: 40px;
  }

  #text-copy {
    font-size: 24px;
  }
}

@media (min-width: 900px) {
  ul {
    right: 85%;
    text-align: left;
  }

  .tomaincopy {
    right: 91%;
  }

  hr {
    display: block;
    border: solid black;
    /* transform: translate(30px, 20px) rotate(320deg); */
    height: 2000px;
    position: fixed;
    top: -300px;
    left: 550px;
  }

  #text-copy {
    height: 100vh;
    position: fixed;
    width: 60%;
    top: 4%;
    margin-left: 35%;
    display: none;
    font-size: 14px;
    text-align: right;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
    animation: typing 0.5s steps(10000000);
  }

  .gallery img {
    height: 350px;
    margin-left: 10px;
  }

  .gallery img:hover {
    border: 1px solid black;
  }

  .contact {
    font-size: 20px;
    margin-top: 300px;
    animation: typing 0.5s steps(10000000);
  }

  .small_gallery {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    animation: typing 0.5s steps(10000000);
  }

  .gallery-www {
    justify-content: center;
  }

  .small_gallery div {
    height: 100px;
    width: 100px;
    text-align: center;
  }

  .gallery-www div {
    margin-left: 200px;
  }

  #preview {
    height: 600px;
    width: 700px;
    margin: 100px auto;
    background-color: white;
    display: block;
  }

  .flip-card {
    background-color: transparent;
    width: 700px;
    height: 600px;
    margin: 70px auto;
    perspective: 1000px;
    animation: typing 0.5s steps(10000000);
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  .flip-card-back-one {
    background-image: url(images/ogłoszenia/buty1a.png);
    background-size: 100% 100%;
  }

  .flip-card-front-one {
    background-image: url(images/ogłoszenia/buty1.png);
    background-size: 100% 100%;
  }

  #dots {
    height: 20px;
    position: absolute;
    top: 79%;
    right: 20%;
    display: flex;
  }

  #dots span {
    display: inline-block;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
  }

  .small_gallery img {
    width: 100px;
  }
  .gallery-www img {
    width: 200px;
  }
  @keyframes typing {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
}
