* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monda", sans-serif;
}

h1 {
  position: fixed;
  color: black;
  width: 300px;
  border: 1px solid rgb(114, 111, 111);
  background-color: white;
  text-transform: uppercase;
  padding: 10px 5px;
  font-size: 50px;
  top: 15%;
  left: calc(50% - 150px);
  text-align: center;
  font-family: "Six Caps", sans-serif;
  z-index: 10;
  letter-spacing: 0.9mm;
}
main {
  display: flex;
}
.web_design_div {
  position: relative;
  width: 50%;
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main a {
  position: absolute;
  display: block;
  text-decoration: none;
  font-size: 22px;
}

.web_design_div a {
  color: white;
}

.web_design_div hr {
  background-color: white;
  margin-top: 50px;
  width: 80px;
  transition: 1s;
}

.copy_div {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy_div a {
  color: black;
}

.copy_div hr {
  background-color: black;
  margin-top: 50px;
  width: 80px;
  transition: 1s;
}

#webdesign {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: fixed;
}

.hover_web,
.hover_copy {
  display: none;
}

@media (min-width: 768px) {
  main a {
    font-size: 40px;
  }
  h1 {
    width: 500px;
    left: calc(50% - 250px);
    letter-spacing: 1.9mm;
  }

  .copy_div hr {
    width: 170px;
    margin-top: 80px;
  }

  .web_design_div hr {
    width: 170px;
    margin-top: 80px;
  }
}

.hover_web {
  position: absolute;
  margin-top: 200px;
  text-align: center;
  font-size: 18px;
  opacity: 0;
  transition: 1s;
}

.web_design_div:hover > .hover_web {
  opacity: 1;
}

.web_design_div:hover > hr {
  margin-top: 360px;
}

.hover_copy {
  position: absolute;
  margin-top: 200px;
  text-align: center;
  font-size: 18px;
  opacity: 0;
  transition: 1s;
}
.copy_div:hover > .hover_copy {
  opacity: 1;
}

.copy_div:hover > hr {
  margin-top: 360px;
}

@media (min-width: 900px) {
  .hover_web,
  .hover_copy {
    display: block;
  }
}
